<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
    <title>{% block title %}To-Do App{% endblock %}</title>
  </head>
  <body>
    <nav class="bg-gray-800 py-4">
      <div class="container mx-auto flex justify-between items-center px-4">
        <a href="{{ url_for('index') }}" class="text-white font-bold text-lg">To-Do App</a>
        <div>
          <a href="{{ url_for('index') }}" class="inline-block py-2 px-4 text-white bg-gray-900 hover:bg-gray-700 rounded-lg mr-2">Home</a>
          {% if not current_user.is_authenticated %}
          <a href="{{ url_for('login') }}" class="inline-block py-2 px-4 text-white bg-gray-900 hover:bg-gray-700 rounded-lg mr-2">Login</a>
          <a href="{{ url_for('signup') }}" class="inline-block py-2 px-4 text-white bg-gray-900 hover:bg-gray-700 rounded-lg">Register</a>
          {% else %}
          <a href="{{ url_for('logout') }}" class="inline-block py-2 px-4 text-white bg-gray-900 hover:bg-gray-700 rounded-lg">Logout</a>
          {% endif %}

                  </div>
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="container mx-auto my-4">
      {% for message in messages %}
        {% if message[0] == 'error' %}
          <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 my-2" role="alert">
        {% else %}
          <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 my-2" role="alert">
        {% endif %}
      
        <p>{{ message[1] }}</p>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
